<h1 mat-dialog-title>{{ "DIALOGS.PERMISSIONS.TITLE" | translate }}</h1>
<form [formGroup]="consentOptions" (ngSubmit)="onSubmit($event)">
  <div mat-dialog-content #dialogContent>
    <p>{{ "DIALOGS.PERMISSIONS.MESSAGE" | translate }}</p>
    <div class="mb-3">
      <div>
        <mat-slide-toggle formControlName="telemetry">{{
          "DIALOGS.PERMISSIONS.TELEMETRY.TOGGLE_LABEL" | translate
        }}</mat-slide-toggle>
      </div>
      <mat-hint>{{ "DIALOGS.PERMISSIONS.TELEMETRY.DESCRIPTION" | translate }}</mat-hint>
    </div>
    <div *ngIf="requiresCmp" class="mb-3">
      <h3 class="m-0">{{ "DIALOGS.PERMISSIONS.CURSEFORGE.TITLE" | translate }}</h3>
      <mat-hint style="max-width: 600px; display: block">
        <span>{{ "DIALOGS.PERMISSIONS.CURSEFORGE.DESCRIPTION_TOP" | translate }}</span>
        <a href="#" (click)="onClickAdVendors($event)">{{
          "DIALOGS.PERMISSIONS.CURSEFORGE.DESCRIPTION_AD_LINK" | translate
        }}</a>
        <span>{{ "DIALOGS.PERMISSIONS.CURSEFORGE.DESCRIPTION_BOTTOM" | translate }}</span>
      </mat-hint>
    </div>
  </div>
  <div mat-dialog-actions align="end">
    <button mat-raised-button color="primary" type="button" (click)="onClickManage($event)">Manage</button>
    <button mat-raised-button color="primary" type="submit" cdkFocusInitial>
      {{ "DIALOGS.PERMISSIONS.POSITIVE_BUTTON" | translate }}
    </button>
  </div>
</form>
