<h1 mat-dialog-title>{{ "DIALOGS.PERMISSIONS.TITLE" | translate }}</h1>
<form [formGroup]="consentOptions" (ngSubmit)="onSubmit($event)">
  <div mat-dialog-content #dialogContent>
    <p>{{ "DIALOGS.PERMISSIONS.MESSAGE" | translate }}</p>
    <div class="mb-3">
      <div>
        <mat-slide-toggle formControlName="telemetry">{{
          "DIALOGS.PERMISSIONS.TELEMETRY.TOGGLE_LABEL" | translate
        }}</mat-slide-toggle>
      </div>
      <mat-hint>{{ "DIALOGS.PERMISSIONS.TELEMETRY.DESCRIPTION" | translate }}</mat-hint>
    </div>
    <div *ngIf="requiresCmp" class="mb-3">
      <h3 class="m-0">CurseForge</h3>
      <mat-hint style="max-width: 600px; display: block">
        In order to use this application's integration with CurseForge they require that you allow them to show you an
        ad from one of their
        <a href="https://www.curseforge.com" (click)="onClickAdVendors($event)">ad vendors</a>. Click on the Manage button to control you
        consents, or to object to the processing of your data. You can change your preferences any time via the settings
        screen.
      </mat-hint>
    </div>
  </div>
  <div mat-dialog-actions align="end">
    <button mat-raised-button color="primary" type="button" (click)="onClickManage($event)">Manage</button>
    <button mat-raised-button color="primary" type="submit" cdkFocusInitial>
      {{ "DIALOGS.PERMISSIONS.POSITIVE_BUTTON" | translate }}
    </button>
  </div>
</form>
